[Unit]
Description=Home Sensor Hub
After=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/bin/homesensorhub
Restart=always

[Install]
WantedBy=multi-user.target boot-complete.target
